@mixin border-radius($PR){
	-webkit-border-radius:$PR;
	-moz-border-radius:$PR;
	border-radius:$PR;
}

@mixin transform($PR,$VAL){
	-webkit-transform:$PR($VAL);
	-moz-transform:$PR($VAL);
	transform:$PR($VAL);
}

@mixin border-shadow($PR, $RGBA ){
	-moz-box-shadow: $PR rgba($RGBA);
	-webkit-box-shadow: $PR rgba($RGBA);
	box-shadow: $PR rgba($RGBA);
}

@mixin bg-gradient($BEGIN , $END){
	background: -webkit-liner-gradient(top, from($BEGIN), to($END));
	background:-moz-linear-gradient(top, $BEGIN, $END);
	background: linear-gradient(top,$BEGIN, $END);
}

@mixin gradient($BEGIN , $END){
	background: -webkit-liner-gradient(top, from($BEGIN), to($END));
	background:-moz-linear-gradient(top, $BEGIN, $END);
	background: linear-gradient(top,$BEGIN, $END);
}

@mixin icon_size($X:0,$Y:0){
	$isize:60;
	background-position: #{$isize*$X}px #{$isize*$Y}px;
	width :#{$isize}px;
	height:#{$isize}px;
}

@mixin mr($T:"",$R:"",$B:"",$L:""){
	margin:#{$T} #{$R} #{$B} #{$L};
}

@mixin pd($T:"",$R:"",$B:"",$L:""){
	padding:#{$T} #{$R} #{$B} #{$L};
}

@mixin display-box(){
	display: -webkit-box;
	display: -moz-box;
}

@mixin box-sizing($TYPE){
	@if $TYPE == c {
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
	} @else if $TYPE == b {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	} @else{
		-moz-box-sizing: #{$TYPE};
		-webkit-box-sizing: #{$TYPE};
		box-sizing:  #{$TYPE};
	}
}
@mixin border-box(){
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin box-flex($I:1){
	-moz-box-flex: #{$I};
	-webkit-box-flex: #{$I};
	box-flex: #{$I};
}

@mixin border($DEF,$PS:null){
	@if $PS == null {
		border:$DEF;
	} @else {
		@each $key in $PS {
			@if $key == r {
				border-right:#{$DEF};
			} @else if $key == l {
				border-left:#{$DEF};
			} @else if $key == t {
				border-top:#{$DEF};
			} @else if $key == b {
				border-bottom:#{$DEF};
			} @else{
				border-#{$key}:#{$DEF};
			};
		}
	}
}
@mixin mp(){
	
	
}



@mixin display($T:null,$W:null,$H:null,$Z:null){
	@if $T == box{
		display: -webkit-box;
		display: -moz-box;
	}
	@if $T == b {
		display:block;
	}
	@if $T == ib {
		display:inline-block;
	}
	@if $T == i {
		display:inline;
	}
	@if $W != null {
		width:$W;
	}
	@if $H != null {
		height:$H;
	}
	@if $Z != null {
		z-index:$Z;
	}
}


@mixin place_h_c($RGB){

}

@mixin formset(){
	height:30px;
	font-size:16px;
	border:1px solid #666;
	width:100%;
}

@mixin b12($RGB:null,$LH:null){
	@if $RGB != null {
		color:$RGB;
	}
	@if $LH != null {
		line-height:$LH;
	}
	display: block;
	font-size:12px;
	font-weight:normal;
}

@mixin n12($RGB:null,$LH:null){
	@if $RGB != null {
		color:$RGB;
	}
	@if $LH != null {
		line-height:$LH;
	}
	font-size:12px;
	font-weight:normal;

}


@mixin b14($RGB:null,$LH:null){
	@if $RGB != null {
		color:$RGB;
	}
	@if $LH != null {
		line-height:$LH;
	}
	display: block;
	font-size:14px;
	font-weight:normal;
}

@mixin fb16b($RGB:null,$LH:null){
	@if $RGB != null {
		color:$RGB;
	}
	@if $LH != null {
		line-height:$LH;
	}
	font-size:16px;
	font-weight:blod;
}

@mixin bx($SZ:null,$RGB:null,$LH:null){
	@if $SZ != null {
		font-size:$SZ;
	}
	display:block;
	@if $RGB != null {
		color:$RGB;
	}
	@if $LH != null {
		line-height:$LH;
	}
}



@mixin fonts($SZ:null,$RGB:null,$LH:null,$OTHER:null){
	@if $SZ != null {
		font-size:$SZ;
	}
	@if $RGB != null {
		color:$RGB;
	}
	@if $LH != null {
		line-height:$LH;
	}
	@if $OTHER != null {
		@each $key in $OTHER {
			@if $key == b {
				font-weight:blod;
			}
			@if $key == n {
				font-weight:noraml;
			}
			@if $key == l {
				text-align:left;
			}
			@if $key == r {
				text-align:right;
			}
			@if $key == c {
				text-align:center;
			}
		}
	}
}

